body {
    background-color: #c1dff0;
}

h1 {
    color: #0f3152
}

h3 {
    color: #0f3152
}

hr {
    border-style: none;
    border-top-style: dotted;
    height: 0 px;
    border-color: gray;
    border-width: 4px;
    width: 5%;
}

img {
    height: 200px;
}